.homeBar {
  padding: 1rem 4rem;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 300px;
  position: relative;
  padding-top: 6rem;
}

.latest {
  border-left: 1px solid gray;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 4rem;
  position: fixed;
  height: 90vh;
  right: 0;
  width: 400px;
  top: 1%;
  padding-right: 4rem;
  z-index: 1;
  overflow: scroll;
  padding-bottom: 2rem;
}

.latest::-webkit-scrollbar {
  width: 0;
  display: none;
}

.latest h1 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  text-transform: capitalize;
  background-color: black;
  color: white;
  padding: 6px 0;
}

.homeContentBar {
  width: 80%;
  margin: auto;
  overflow: scroll;
}

.tagsBarst {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  width: 100%;
  margin: auto;
  margin-top: 1rem;
  overflow: scroll;
  margin-bottom: 0.3rem;
}

.tagsBarst::-webkit-scrollbar {
  width: 0;
  display: none;
}

.homeContentBar::-webkit-scrollbar {
  width: 0;
  display: none;
}

.tagLine {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 3rem;
}

.tagsBarst span {
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  display: block;
}

.homeContentList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author img {
  width: 2rem;
  height: 2rem;
  border-radius: 100px;
}

.author p {
  text-transform: capitalize;
}

.author span {
  font-size: 0.8rem;
  color: gray;
}

.authorPostBar {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 130px;
  gap: 2rem;
}

.authorPostBar img {
  width: 130px;
  height: 100px;
}

.authorPost h1 {
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: black;
}

.authorPostBar p {
  color: black;
}

.postTag {
  display: grid;
  grid-template-columns: 1fr 300px;
}

.contentList {
  background-color: whitesmoke;
  padding: 1rem;
}

.postTagItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTagItem p {
  text-transform: capitalize;
  background-color: gray;
  padding: 3px 8px;
  border-radius: 10px;
  color: white;
  font-size: 0.7rem;
}

.bookmarkIcon {
  font-size: 1.1rem;
  cursor: pointer;
}

.bookmarkIcon:active {
  scale: 0.95;
}

.latestList {
  background-color: whitesmoke;
  padding: 0.5rem 1rem;
}

.latestList p {
  color: black;
}

.latestList h4 {
  color: black;
}

.recomendedTopics {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.trend {
  text-align: center;
  font-size: 1.3rem;
  text-transform: capitalize;
  color: white;
  padding: 6px 0;
  background-color: black;
  margin-top: 3rem;
  margin-bottom: -1rem;
}

.recomendedTopics p {
  color: white;
  background-color: gray;
  padding: 3px 9px;
  text-transform: capitalize;
  font-size: 0.8rem;
  border-radius: 20px;
  cursor: pointer;
}

.cool {
  color: aqua;
}

.fact {
  color: red;
}

.homeCloseIcon {
  display: none;
}

.showHomeLat {
  display: none;
}

.tagsBarst span a {
  color: black;
}

@media (max-width: 1220px) {
  .homeContentBar {
    width: 100%;
  }

  .homeBar {
    grid-template-columns: 1fr 300px;
    padding: 1rem 2rem;
    padding-top: 6rem;
  }

  .latest {
    padding-right: 2rem;
    width: 300px;
  }
}

@media (max-width: 1050px) {
  .homeBar {
    grid-template-columns: 1fr;
  }

  .showLatest {
    display: flex;
    background-color: white;
    z-index: 10;
  }

  .showNotLatest {
    display: none;
  }

  .homeCloseIcon {
    display: block;
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 0.3rem;
  }

  .latest h1 {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .showHomeLat {
    display: block;
    background-color: black;
    color: white;
    margin-bottom: 2rem;
  }

  .latest {
    width: 400px;
  }

  .authorPost h1 {
    font-size: 1.2rem;
  }

  .authorPostBar p {
    font-size: 0.8rem;
  }

  .postTag {
    grid-template-columns: 1fr;
  }
  .tagsBarst {
    /* display: none; */
    width: 97%;
    margin: auto;
    padding: 0 1rem;
    padding-bottom: 0.3rem;
  }

  .tagLine {
    margin-bottom: 1rem;
  }
}

@media (max-width: 620px) {
  .homeBar {
    padding: 1rem 0;
    padding-top: 6rem;
  }

  .showHomeLat {
    margin-left: 1rem;
  }
}

@media (max-width: 520px) {
  .latest {
    width: 100%;
    padding-right: 0;
    padding: 0 1rem;
    scroll-behavior: smooth;
    padding-bottom: 3rem;
  }
}
