.profileCard {
  padding: 1rem 0.5rem;
  margin-top: 3rem;
  height: 90vh;
}

.profileCard h2 {
  text-transform: capitalize;
}

.mainProfileImage {
  position: relative;
  margin-bottom: 1rem;
}

.mainProfileImage img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.mainProfileImageTwo {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 1rem;
}

.bio {
  text-transform: capitalize;
  margin-top: 0.3rem;
  margin-bottom: 1.5rem;
}

.mainProfileAction {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.mainInputBar {
  position: relative;
}

.mainInput {
  font-size: 0.9rem;
  width: 100%;
  margin-top: 0.7rem;
  padding: 10px;
  border-radius: 2px;
}

.mainCameraInput {
  width: 2rem;
  height: 1.5rem;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.mainCamera {
  font-size: 2rem;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.mainInputBar p {
  margin-top: 1rem;
  text-align: center;
}

.maintrash {
  color: red;
  position: absolute;
  bottom: 3%;
  left: 40%;
}

@media (max-width: 768px) {
  .profileCard {
    padding-top: 3rem;
  }
}
