.navbar {
  padding: 1rem 0;
  border-bottom: 2px solid black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #f2f4f8;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1220px;
  margin: auto;
  padding: 0 1rem;
}

.logo a h1 {
  font-size: 2rem;
  color: black;
}

.logo a h1 span {
  color: red;
}

.navbarAuth {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbarAuth a button {
  background-color: transparent;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  color: black;
  padding: 8px;
}

.navbarAuth a button:hover {
  color: rgb(67, 66, 66);
}

.logoutButton {
  background-color: transparent;
  border: none;
}

.logoutIcon {
  font-size: 1.2rem;
  cursor: pointer;
}

.logoutIcon:active {
  scale: 0.96;
}

.profileLogo img {
  border-radius: 100px;
  width: 2.1rem;
  height: 2.1rem;
  cursor: pointer;
}

.profileLogo img:active {
  scale: 0.96;
}

.mobileMenu {
  display: none;
}

.mobileNavBar {
  display: none;
}

.profilePop {
  position: absolute;
  right: 5%;
  top: 100%;
  background-color: white;
  width: 300px;
  height: 230px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2rem 1rem;
  z-index: 10000;
}

.popCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.popName {
  text-align: center;
}

.popName p {
  margin-bottom: 0.3rem;
  text-transform: capitalize;
  font-weight: 600;
}

.popName span {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  display: block;
}

.popPro button {
  background-color: whitesmoke;
  color: black;
  border-radius: 20px;
  font-size: 0.85rem;
  text-transform: capitalize;
  border: 2px solid black;
  font-weight: 400;
  padding: 8px 3rem;
}

.popPro button:hover {
  background-color: white;
}

.popLogout button {
  background-color: transparent;
  color: black;
}

.showLat {
  display: none;
}

@media (max-width: 1220px) {
  .nav {
    padding: 0 2rem;
    width: 100%;
  }

  .profilePop {
    right: 2%;
  }
}

@media (max-width: 1050px) {
  .showLat {
    display: flex;
    background-color: transparent;
    color: black;
    padding: 8px;
  }
}

@media (max-width: 768px) {
  .navbarAuth {
    display: none;
  }

  .navbar {
    border-bottom: 1px solid black;
    width: 100%;
  }

  .mobileMenu {
    display: flex;
  }

  .menuIcon {
    font-size: 1.5rem;
    cursor: pointer;
  }

  .mobileNavBar {
    display: block;
    background-color: white;
    padding: 1rem 2rem;
    width: 70%;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
  }

  .mobileNavBar button {
    text-transform: uppercase;
    color: black;
    background-color: transparent;
    padding-left: 0;
    font-weight: bold;
  }

  .mobileNavBar a h1 {
    font-weight: bold;
    color: black;
    padding-bottom: 2rem;
    font-size: 2rem;
  }

  .mobileNavBar a h1 span {
    color: red;
  }

  .mobileLinks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    font-weight: bold;
  }

  .mobileAction {
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    text-transform: uppercase;
  }

  .mobileLogout {
    width: 100%;
  }

  .mobileAction a button {
    padding-left: 0;
    font-weight: bold;
    white-space: nowrap;
    padding: 8px 0;
  }

  .mobileLogout {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobileLogoutIcon {
    color: black;
    font-size: 1.2rem;
  }

  .cancel {
    position: absolute;
    top: 3.3%;
    right: 5%;
  }

  .cancelIcon {
    font-size: 1.6rem;
  }
}

@media (max-width: 620px) {
  .nav {
    padding: 0 1rem;
  }
}
